/* General container styling */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Heading styles */
h1,
h3 {
  text-align: center;
  color: #333;
}

/* File uploader styling */
.file-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #007bff;
  padding: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
}

.file-uploader:hover {
  background-color: #f8f9fa;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

/* Tabs styling */
.nav-tabs .nav-link {
  color: #007bff;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: white;
}

/* Select dropdown styles */
select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Filter container */
.format-section,
.filters {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/*****REACT JS CSS*****/
.database-container * {
  text-align: unset;
}

.database-container {
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1.2em;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.database-box {
  border: 3px solid #1d6d86;
  padding: 10px;
  padding-top: 5px;
  display: inline-block;
  min-width: 250px;
  position: relative;
}

.database-title {
  background: #1d6d86;
  color: white;
  font-weight: bold;
  padding: 0px 4px;
  position: absolute;
  top: -20px;
  left: -6px;
}

.table-container {

  display: flex;
  gap: 10px;
}

.table-header {
  text-align: start;
  transform: translateY(4px);
}

.table-header span {
  background: #3d3e40;
  color: white;
  padding: 0px 4px;
}

table {
  margin-top: unset;
}

.table td,
.table th {
  border: 1px solid #3d3e40;
  padding: 0px 5px;
  color: black;
  text-align: center;
  min-width: 50px;
}

.table td.data-type {
  color: red;
  font-size: 12px;
}

/****CsvFormatGuide*****/
.upload-container {
  display: flex;
  gap: 5em;
}
@media (max-width:800px) {
  .upload-container {
    flex-direction:column;
    gap: 1em;
  }
}
.csv-format-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
}

.csv-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.csv-table th,
.csv-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.csv-table th {
  background-color: #333;
  font-weight: bold;
}

.csv-note {
  margin-top: 10px;
  font-size: 14px;
  color: #190e3a;
}

/****CsvFormatGuide*****/